<div class="topbar">

    <div class="search-box">
        <i class="bi bi-search"></i>
        <input type="text" placeholder="Buscar cliente, IMEI, folio...">
    </div>

    <div class="topbar-right">

        <button class="notification-btn">
            <i class="bi bi-bell-fill"></i>
        </button>

        <div class="user-info">

            <div class="avatar">
                M
            </div>

            <div>
                <strong>Marisol</strong><br>
                <small>Administrador</small>
            </div>

        </div>

    </div>

</div>