<div class="sidebar">

    <div class="logo">
        <h2>NEXTDEX</h2>
        <span>v1.0</span>
    </div>

    <ul class="menu">

        <li class="active">
            <i class="bi bi-grid-fill"></i>
            Dashboard
        </li>

        <li>
            <i class="bi bi-tools"></i>
            Nueva reparación
        </li>

        <li>
            <i class="bi bi-phone"></i>
            Reparaciones
        </li>

        <li>
            <i class="bi bi-people-fill"></i>
            Clientes
        </li>

        <li>
            <i class="bi bi-box-seam"></i>
            Inventario
        </li>

        <li>
            <i class="bi bi-cash-stack"></i>
            Ventas
        </li>

        <li>
            <i class="bi bi-bank"></i>
            Caja
        </li>

        <li>
            <i class="bi bi-gear-fill"></i>
            Configuración
        </li>

    </ul>

</div>